*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: #373d3b;
  color: aliceblue;
  
  padding: 20px;
}
#title{
  position: relative;
  top: 140px;
  left: 70px;
  font-family: 'League Spartan', sans-serif;
  font-size: 50px;
 
}


.bodyContainer{
  margin: auto;
  height: 80%;
  width: 100%;
  font-family: 'League Spartan', sans-serif; 
   border: 1px solid blue;
  display: flex;
  flex-direction: row;

}

.Tycoon-Grid{
  position: relative;
  left: 0;
  top: 40px;
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  padding: 50;
  gap: 40px;
  border: 1px solid red;
}

#InfoCard{
  position: absolute; /* Use relative positioning */                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         left: 200px;
  top: 300px;
  left: 30px;
  background: gray;
  width: 300px; /* Fixed width for consistency */
  height: 350px; /* Dynamic height */
  padding: 20px;
  margin: 20px; /* Add margin for spacing */
  border-radius: 8%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1;
  
}

p{
  text-align: center;
}

@media (max-width: 924px) { /* Small screens */
  #title{
  
    position: relative;
    top: 0px;
    left: 0px;

  }
  html {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .bodyContainer{
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

  }
  h1{
    text-align: center;
  }
  .Tycoon-Grid {  
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    
  justify-content: center;
  padding: 5px;
  gap: 30px;


  }
  #InfoCard{
    position: relative; /* Use relative positioning */
    left: 0;
    top: 0;
    align-self: center;
    height: auto;
    align-items: center;
    border-radius: 10%;
    
  }
  }




@media (min-width:1489px){  /* Large screens */
  
  #title{

    position: relative;  
    top: 10px;    /* resets positioning  */
    left: 0px;
    text-align: center; /* centers text */
  }
  .bodyContainer {
    display: flex;
    flex-direction: column; /* Change the direction of the flex container */
     height: 500px;
     align-content: center;
     gap: 20px;
  }

#InfoCard{
  position: relative; /* Use relative positioning */
  left: 0;
  top: 0;
  align-self: center;
  height: auto; /* Dynamic height */
  border-radius: 10%;
}

  .Tycoon-Grid {
    position: relative;
    left: 0;
    right: 0;
  width: 100%;
  justify-content:center;
  
  }
}
